<%= link_to "#{bookmark.url}", bookmark.url %>
<%= link_to [@topic, bookmark], data: { confirm: 'Are you sure you want to delete this bookmark?' }, method: :delete, class: 'btn btn-danger btn-xs' do %>
<span class="has-tooltip" data-toggle="tooltip" title="Delete Topic">
  <span class="glyphicon glyphicon-trash">
  </span>
</span>
<% end %>
<%= render partial: 'likes/like', locals: { bookmark: bookmark } %>
