<div class="form-group">
  <%= form_for [@topic, @topic.bookmarks.new] do |f| %>
    <%= f.label "New Bookmark:" %>
    <%= f.text_field :url, class: 'form-control field-small', placeholder: "Enter website" %>
    <div class="action">
      <%= f.submit "Save", class: 'btn btn-success btn-top' %>
    </div>
  <% end %>
</div>
