<h1><%= @topic.name %></h1>
<% if policy(@topic).update? %>
  <%= link_to "Edit Topic", edit_topic_path, class: 'btn btn-success' do'
    <span class="glyphicon glyphicon-edit">&nbsp;</span>
  <% end %>
<% end %>

<p><% @topic.bookmarks.each do |bookmark| %>
  <%= link_to "#{bookmark.url}", @url %>
  <% end %>
